.image-container {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

.full-screen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%;
}

.fade-in-div {
    margin-left: 10%;
    margin-right: 10%;
}

.custom-paragraph-spacing p:not(:last-child) {
    margin-bottom: 1rem; /* Adjust the value as needed */
}

@media (max-width: 800px) {
    .full-screen-image {
        object-position: center;
    }
}

.max-height-constraint {
    max-height: calc(100dvh - 350px);
}

@media (max-width: 1024px) and (min-aspect-ratio: 1/1) {
    .max-height-constraint {
        max-height: calc(100dvh - 100px);
    }

    .fade-in-div {
        margin-left: 20%;
        margin-right: 20%;
    }
}
